.summary {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 45vmax;
  background-color: rgb(58, 57, 57);
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.5);
  color: white;
  max-height: 12rem;
  border-radius: 15px;
  padding: 1rem;
  margin: -20rem auto;
  gap: 1rem;
  font-weight: 500;
}


