.cart-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 2px solid rgb(224, 212, 212);
  padding: 1rem 0;
}

.cart-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.btn1,
.btn2 {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: #e2d1d1;
}

.amount {
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  background-color: #e2d1d1;
  margin-left: -13rem;
}
