.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
}

label {
  font-weight: 700;
}

input {
  width: 2.8rem;
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
  border: 1px solid black;
  font-weight: 600;
}
