.modal-overlay {
  position: relative;
  max-width: 30rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin: -28rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.4);
  /* height: 8rem; */

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
}
